MONGO_IP=mongo_ip_goes_here
MONGO_PORT=mongo_port_goes_here
MONGO_DB=mongo_db_name_goes_here
DISCORD_TOKEN=discord_token_goes_here
STATS_TOKEN=stats_token_for_discordbots_org_goes_here
RAVEN_DSN=raven_dsn_goes_here
RAVEN_ENV=raven_environment_goes_here